*.pdf
*.txt
*.docx
*dump.html
*dump1.html
*project
*Nestjs

# Ignore all image files
*.jpg
*.png
*.gif
# Ignore all video files
*.mp4
*.avi
*.mov
# Ignore all audio files
*.mp3
*.wav
*.flac
# Ignore all archive files
*.zip